body {
    margin: 0px;
    background-color: rgb(172, 212, 224);
}

.header {
    margin: 10px 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid;
    color: aliceblue;
    background-color: black;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px;
    display: flex;
    flex-wrap: wrap;
	 justify-content: center;
}

#footer {
    margin: 80px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:100vh;

}

#instruction {
    margin: 0px 100px;
    text-align: center;

}

h2 {
    margin: 0px;
    flex: 1px;
}

p {
    margin: 5px;
    flex: 1px;
}

#playericon {
    display: flex;
    gap: 20px;
}

img {
    flex: 1px;
}

#tie {
    border: 2px solid #e5e6d3;
    border-radius: 15px;
    padding: 5px 20px;
    color: white;
    background-color: black;
    font-family: monospace;
}

#player {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
}

#computer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
}

#pick {
    margin-top: 20px;
    display: flex;
    gap: 8px;
}

#rock:hover {
    transform: scale(1.02);
}

#paper:hover {
    transform: scale(1.02);
}

#scissors:hover {
    transform: scale(1.02);
}

.green-glow {
    border: 1px solid #4dcc7d;
    box-shadow: 0 0 5px  #31b43a;
}

.red-glow {
    border: 1px solid #fc121b;
    box-shadow: 0 0 5px  #d01115;
}

.grey-glow {
    border: 1px solid #464647;
    box-shadow: 0 0 5px  #25292b;
}
