@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0px;
    background-color: rgb(117, 111, 95);
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.header {
    margin: 0px 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    color: aliceblue;
    background-color: black;
    font-family: 'Press Start 2P', Sans-Serif;
    color: #aba996;
    padding: 0px 10px;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	font-family: Monospace;
	text-align: center;
}

#headerbody {
    text-align: center;
}

#footer {
    margin: auto 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:100vh;
}

#instruction {
    margin: 0px 100px;
    text-align: center;

}

h2 {
    margin: 0px;
    flex: 1px;
}

p {
    margin: 5px;
    flex: 1px;
}

#playericon {
    display: flex;
    gap: 20px;
}

.iconboxshadow {
    box-shadow: 0px 0px 10px black;}

img {
    flex: 1px;
}

#tie {
    border: 2px solid #e5e6d3;
    border-radius: 15px;
    padding: 5px 20px;
    color: white;
    background-color: black;
    font-family: Monospace;
    box-shadow: 0 0 10px  aliceblue;
}

#playerp, #computerp {
    /*margin-top: 20px 0px;*/
    border: 2px solid #e5e6d3;
    border-radius: 15px;
    padding: 5px;
    color: white;
    background-color: black;
    font-family: Monospace;
    box-shadow: 0 0 10px  black;
}

#player {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
}

#computer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
}

#pick {
    margin: 20px 0px 10px;
    display: flex;
    gap: 8px;
}
#rock, #paper, #scissors {
    border-radius: 5px;
}

#rock:hover {
    transform: scale(1.02);
}

#paper:hover {
    transform: scale(1.02);
}

#scissors:hover {
    transform: scale(1.02);
}

.green-glow {
    border: 1px solid #4dcc7d;
    box-shadow: 0 0 10px  #31b43a;
}

.red-glow {
    border: 1px solid #fc121b;
    box-shadow: 0 0 10px  #d01115;
}

.grey-glow {
    border: 1px solid #464647;
    box-shadow: 0 0 10px  rgb(255, 255, 255);
}

a {
    text-decoration-color: none;
}

.btn {
    font-family: Monospace, Sans-Serif;
    padding: 2px;
    cursor: pointer;
}

/*Modal Design*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22%;
    height: 15%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 5px 10px;
    /*width: 24rem;*/
    border-radius: 0.5rem;
    text-align: center;
    background:#0b2e2a;
}

/* .close-button {
    position: relative;
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray; 
}
*/
.close-button:hover {
    background-color: darkgray;
    position: fixed;
    display: none;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content > h5 {
    border: 1px solid;
    margin: 0px 5px 10px;
    border-radius: 10px;
    width: 90px;
    background-color: black;
    color: white;
    padding: 5px;
    font-family: 'Press Start 2P', Sans-Serif;
    box-shadow: 0 0 10px  #31b43a;
    color: #aba996;
}

.modal-content > p {
    border: 1px solid;
}

.playAgain {
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0 0 10px  #31b43a;
    background-color: #aba996;
    color: black;
}

#instruction > h2 {
    font-family: 'Press Start 2P', Sans-Serif;
}

.playerChoice {
    cursor: pointer;
}